#card_1 {
  --index: 1;
}

#card_2 {
  --index: 2;
}

#card_3 {
  --index: 3;
}

#card_4 {
  --index: 4;
}

#card_5 {
  --index: 5;
}

.card {
  --index0: calc(var(--index) - 1); /* 0-based index */
  --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
  --reverse-index0: calc(var(--reverse-index) - 1);
}

.card,
/* .card_content_inner, */
.card_image_wrapper {
  padding-top: calc(var(--index) * 10px);
}

.card .card_content_inner {
  top: 50%;
  padding: 0 16px;
  transform: translateY(-50%);
}

@keyframes scale {
  to {
    transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
  }
}

.cards {
  --numcards: 5;
  view-timeline-name: --cards-element-scrolls-in-body;
}

.card_content {
  --start-range: calc(var(--index0) / var(--numcards) * 100%);
  --end-range: calc((var(--index)) / var(--numcards) * 100%);

  animation: linear scale forwards;
  animation-timeline: --cards-element-scrolls-in-body;
  animation-range: exit-crossing var(--start-range) exit-crossing
    var(--end-range);

  transform-origin: 50% 0%;
  will-change: transform;
}
