@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 239, 246, 255; /* blue-50 */
  --foreground: 23, 37, 84; /* blue-950 */
  --bg-input: #bfdbfe; /* blue-200 */
  --hovered: #2563eb; /* blue-600 */
  --active: #60a5fa; /* blue-400 */
  --error: #b91c1c /* red-700 */;
}

:root.dark {
  --background: 23, 37, 84; /* blue-950 */
  --foreground: 239, 246, 255; /* blue-50 */
  --bg-input: #1e3a8a; /* blue-900 */
  --hovered: #60a5fa; /* blue-400 */
  --active: #2563eb; /* blue-600 */
  --error: #f87171 /* red-400 */;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  font-family: var(--font-roboto);
  font-size: 14px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

input {
  background-color: transparent;
}

@layer components {
  .section-title {
    @apply text-center mb-7;
  }
}
