@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff6ff; /* blue-50 */
  --foreground: #172554; /* blue-950 */
}

:root.dark {
  --background: #172554; /* blue-950 */
  --foreground: #eff6ff; /* blue-50 */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
